.header {
  position: fixed;     /* Siempre visible arriba */
  top: 0;              /* Pegado al inicio */
  left: 0;
  width: 100%;         /* Ocupa todo el ancho */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: sans-serif;
  border-bottom: 2px solid black;
  background-color: white; /* Fondo para que no se vea el contenido detrás */
  z-index: 1000;       /* Encima de otros elementos */
}

.icono {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 5px;
}
